@mixin core_form {
	@if $legends != false {
		#{$legends} {
			display: block;

			@if $legend-margin-top != false {
				margin-top: $legend-margin-top;

				&:only-child,
				&:first-child {
					margin-top: 0;
				}
			}

			@if $legend-margin-bottom != false {
				margin-bottom: $legend-margin-bottom;

				&:only-child,
				&:last-child {
					margin-bottom: 0;
				}
			}

			@if $legend-font-family != false {
				font-family: $legend-font-family;
			}

			@if $legend-font-weight != false {
				font-weight: $legend-font-weight;
			}

			@if $legend-font-style != false {
				font-style: $legend-font-style;
			}

			@if $legend-line-height != false {
				line-height: $legend-line-height;
			}
		}
	}

	@if $labels != false {
		#{$labels} {
			display: block;

			@if $label-margin-top != false {
				margin-top: $label-margin-top;

				&:only-child,
				&:first-child {
					margin-top: 0;
				}
			}

			@if $label-margin-bottom != false {
				margin-bottom: $label-margin-bottom;

				&:only-child,
				&:last-child {
					margin-bottom: 0;
				}
			}

			@if $label-font-family != false {
				font-family: $label-font-family;
			}

			@if $label-font-weight != false {
				font-weight: $label-font-weight;
			}

			@if $label-font-style != false {
				font-style: $label-font-style;
			}

			@if $label-line-height != false {
				line-height: $label-line-height;
			}

			&[for] {
				cursor: pointer;
			}
		}
	}

	#{$inputs} {
		height: $input-height;

		@if $input-gutter != false {
			padding-left: $input-gutter;
			padding-right: $input-gutter;
		}

		&[disabled] {
			cursor: not-allowed;
		}
	}

	#{$inputs},
	textarea {
		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 0;
		background: transparent;
		box-shadow: none;

		@if $input-font-family != false {
			font-family: $input-font-family;
		}

		@if $input-font-weight != false {
			font-weight: $input-font-weight;
		}
		@if $input-font-style != false {
			font-style: $input-font-style;
		}
	}

	input {
		&,
		&[type="email"],
		&[type="password"],
		&[type="search"],
		&[type="tel"],
		&[type="text"],
		&[type="url"] {
			&[size] {
				width: auto;
			}
		}
	}


	.input {
		position: relative;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	#{$inputs},
	select,
	textarea {
		margin-bottom: $input-margin-bottom;

		&:only-child,
		&:last-child, {
			margin-bottom: 0;
		}

		&:focus {
			outline: none;
		}
	}

	textarea {
		@if $textarea-height {
			height: auto;
		}

		@if $input-gutter != false {
			padding: $input-gutter;
		}

		@if $textarea-line-height != false {
			line-height: $textarea-line-height;
		}

		@if $textarea-min-height {
			min-height: $textarea-height;
		}
	}

	input[type="password"] {
		font-family: sans-serif;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;

		&:focus {
			outline: thin dotted !important;
			outline: 4px auto -webkit-focus-ring-color !important;
			text-decoration: underline;
		}
	}

	select {
		font-family: sans-serif;
	}

	fieldset {
		@if $fieldset-margin-top != false {
			margin-top: $fieldset-margin-top;

			&:only-child,
			&:first-child {
				margin-top: 0;
			}
		}

		@if $fieldset-margin-bottom != false {
			margin-bottom: $fieldset-margin-bottom;

			&:only-child,
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@if $field-marker != false {
		#{$field-marker} {
			@if $field-marker-font-weight != false {
				font-weight: $field-marker-font-weight;
			}

			@if $field-marker-font-style != false {
				font-style: $field-marker-font-style;
			}
		}
	}

	@if $field-description != false {
		#{$field-description} {
			white-space: normal;

			@if $field-description-font-weight != false {
				font-weight: $field-description-font-weight;
			}

			@if $field-description-font-style != false {
				font-style: $field-description-font-style;
			}

			@if $field-description-margin-top != false {
				margin-top: $field-description-margin-top;

				&:only-child,
				&:first-child {
					margin-top: 0;
				}
			}

			@if $field-description-margin-bottom != false {
				margin-bottom: $field-description-margin-bottom;

				&:only-child,
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@if $input-margin-bottom != false and $field-description-margin-top != false {
			#{$inputs} {
				+ #{$field-description} {
					margin-top:  -$input-margin-bottom + $field-description-margin-top;
					margin-bottom: $input-margin-bottom;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@if $form-group != false {
		#{$form-group} {
			position: relative;

			+ #{$form-group} {
				margin-top: $form-group-gutter;
			}
		}
	}
}