$fieldset-margin-top: 							25px !default;

$labels: (
	'label',
	'.label'
) !default;

$label-font-family: 							false !default;
$label-font-weight: 							700 !default;
$label-font-style: 								normal !default;
$label-line-height: 							1.2em !default;

$label-margin-top: 								0.44em !default;
$label-margin-bottom: 							0.44em !default;

$inputs: (
	'.input',
	'input[type="color"]',
	'input[type="date"]',
	'input[type="datetime"]',
	'input[type="datetime-local"]',
	'input[type="email"]',
	'input[type="month"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="time"]',
	'input[type="url"]',
	'input[type="week"]'
) !default;

$input-font-family: 							inherit !default;
$input-font-weight: 							400 !default;
$input-font-style: 								normal !default;
$input-placeholder-color: 						#ededed !default;

$input-transitions:								true !default;
$input-transition-speed:						200ms !default;
$input-transition-timing:						ease-in-out;
$input-transition-delay:						0s;

$input-margin-bottom:							15px !default;
$input-height:									44px !default;
$input-gutter:									14px !default;

$textarea-min-height:							200px !default;
$textarea-height:								auto !default;
$textarea-line-height:							1.6em !default;

$form-group:									true !default;
$form-group-gutter: 							15px !default;

$form-border-selectors:							($inputs, 'textarea') !default;
$form-background-selectors:						($inputs, 'textarea') !default;
$form-font-selectors:							($labels) !default;


@if variable-exists(form-validation-border-selectors) {
	$form-validation-border-selectors: append($form-validation-border-selectors, $form-border-selectors, 'comma');
}

@if variable-exists(form-validation-background-selectors) {
	$form-validation-background-selectors: append($form-validation-background-selectors, $form-background-selectors, 'comma');
}

@if variable-exists(form-validation-font-selectors) {
	$form-validation-font-selectors: append($form-validation-font-selectors, $form-font-selectors, 'comma');
}

$form-message-border: 							solid 1px !default;
$form-message-border-radius:					false !default;
$form-message-gutter:							15px !default;
$form-message-background: 						false !default;
$form-message-box-shadow: 						false !default;
$form-message-margin-bottom:					30px !default;