@mixin core_form {
	fieldset {
		@if $fieldset-margin-top != false {
			+ fieldset {
				margin-top: $fieldset-margin-top;
			}
		}
	}

	#{$labels} {
		display: block;
		font-weight: $label-font-weight;

		margin-top: $label-margin-top;
		margin-bottom: $label-margin-bottom;

		&:first-child,
		&:only-child {
			margin-top: 0;
		}

		&:only-child {
			margin-bottom: 0;
		}

		@if $label-font-family != false {
			font-family: $label-font-family;
		}
		@if $label-font-weight != false {
			font-weight: $label-font-weight;
		}
		@if $label-font-style != false {
			font-style: $label-font-style;
		}
		@if $label-line-height != false {
			line-height: $label-line-height;
		}

		&[for] {
			cursor: pointer;
		}
	}

	#{$inputs} {
		height: $input-height;

		@if $input-gutter != false {
			padding-left: $input-gutter;
			padding-right: $input-gutter;
		}
	}

	#{$inputs},
	textarea {
		display: block;
		text-align: left;
		width: 100%;
		border: none;
		border-radius: 0;
		background: transparent;
		box-shadow: none;

		@if $input-font-family != false {
			font-family: $input-font-family;
		}

		@if $input-font-weight != false {
			font-weight: $input-font-weight;
		}
		@if $input-font-style != false {
			font-style: $input-font-style;
		}

		@if $input-transitions == true {
			@include transition(
				(color $input-transition-speed $input-transition-timing $input-transition-delay),
				(background $input-transition-speed $input-transition-timing $input-transition-delay),
				(border $input-transition-speed $input-transition-timing $input-transition-delay),
				(box-shadow $input-transition-speed $input-transition-timing $input-transition-delay)
			);
		}
	}

	.input {
		position: relative;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	#{$inputs},
	select,
	textarea {
		margin-bottom: $input-margin-bottom;

		&:only-child,
		&:last-child, {
			margin-bottom: 0;
		}

		&:focus {
			outline: none;
		}
	}

	input[type="password"] {
		font-family: sans-serif;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;

		&:focus {
			outline: thin dotted !important;
			outline: 4px auto -webkit-focus-ring-color !important;
			text-decoration: underline;
		}
	}

	select {
		font-family: sans-serif;
	}

	textarea {
		@if $textarea-height {
			height: auto;
		}

		@if $input-gutter != false {
			padding: $input-gutter;
		}

		@if $textarea-line-height != false {
			line-height: $textarea-line-height;
		}

		@if $textarea-min-height {
			min-height: $textarea-height;
		}
	}

	@if $form-group != false {
		.form-group {
			+ .form-group {
				margin-top: $form-group-gutter;
			}
		}
	}
}