@mixin extend_form-group {
	.form-group {
		+ .form-group {
			margin-top: $form-group-gutter;
		}
	}

	//Check if the form-validation-border-color-selectors variable exists;
	@if variable-exists(form-validation-font-color-selectors) {
		//Check if the form-validation-border-color-selectors is not empty;
		@if length($form-validation-font-color-selectors) > 0 {
			@include form-group-validation-color(
				$list: $form-validation-font-color-selectors,
				$selector : '.form-group--error',
				$property: color,
				$color: $form-validation-error-font-color
			);

			@include form-group-validation-color(
				$list: $form-validation-font-color-selectors,
				$selector : '.form-group--warning',
				$property: color,
				$color: $form-validation-warning-font-color
			);

			@include form-group-validation-color(
				$list: $form-validation-font-color-selectors,
				$selector : '.form-group--success',
				$property: color,
				$color: $form-validation-success-font-color
			);
		}
	}

	//Check if the form-validation-border-color-selectors variable exists;
	@if variable-exists(form-validation-border-color-selectors) {
		//Check if the form-validation-border-color-selectors is not empty;
		@if length($form-validation-border-color-selectors) > 0 {
			@include form-group-validation-color(
				$list: $form-validation-border-color-selectors,
				$selector : '.form-group--error',
				$property: border-color,
				$color: $form-validation-error-border-color
			);

			@include form-group-validation-color(
				$list: $form-validation-border-color-selectors,
				$selector : '.form-group--warning',
				$property: border-color,
				$color: $form-validation-warning-border-color
			);

			@include form-group-validation-color(
				$list: $form-validation-border-color-selectors,
				$selector : '.form-group--success',
				$property: border-color,
				$color: $form-validation-success-border-color
			);
		}
	}


	//Check if the form-validation-background-color-selectors variable exists;
	@if variable-exists(form-validation-background-color-selectors) {
		//Check if the form-validation-background-color-selectors is not empty;
		@if length($form-validation-background-color-selectors) > 0 {
			@include form-group-validation-color(
				$list: $form-validation-background-color-selectors,
				$selector : '.form-group--error',
				$property: background-color,
				$color: $form-validation-error-background-color
			);

			@include form-group-validation-color(
				$list: $form-validation-background-color-selectors,
				$selector : '.form-group--warning',
				$property: background-color,
				$color: $form-validation-warning-background-color
			);

			@include form-group-validation-color(
				$list: $form-validation-background-color-selectors,
				$selector : '.form-group--success',
				$property: background-color,
				$color: $form-validation-success-background-color
			);
		}
	}
}