@mixin form-group-validation-color($list: false, $selector: false, $property: false, $color:false) {
	@if type-of($list) == 'list' and $selector != false and $property != false and $color != false {
		@if length($list) > 0 {
			.form-group {
				&#{$selector} {
					@if $property == color {
						#{$list} {
							color: $color;
						}
					}

					@else if $property == border-color {
						#{$list} {
							border-color: $color;
						}
					}

					@else if $property == background-color {
						#{$list} {
							background-color: $color;
						}
					}
				}
			}
		}
	}
}