@mixin placeholder-style(
	$selector: null,
	$color: inherit,
	$font-family: inherit,
	$font-weight: inherit,
	$font-style: inherit
) {
	#{$selector}::-webkit-input-placeholder {
		opacity: 1;

		color: $color;
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
	}

	#{$selector}::-moz-placeholder {
		opacity: 1;

		color: $color;
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
	}

	#{$selector}:-ms-input-placeholder {
		opacity: 1;

		color: $color;
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
	}

	#{$selector}:-moz-placeholder {
		opacity: 1;

		color: $color;
		font-family: $font-family;
		font-weight: $font-weight;
		font-style: $font-style;
	}
}